.pos-sale-management .header-card {
  margin-bottom: 16px;
}

.pos-sale-management .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pos-sale-management .filter-card {
  margin-bottom: 16px;
}

.pos-sale-management .filter-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pos-sale-management .filter-controls {
  display: flex;
  gap: 16px;
}

.pos-sale-management .advanced-filter {
  display: none;
  margin-top: 16px;
}

.pos-sale-management .advanced-filter.show {
  display: block;
}

.pos-sale-management .rdt_TableRow {
  /* min-height: 25px !important; */
  line-height: 14px !important;
  padding: 0 4px !important;
}

.pos-sale-management .rdt_TableCell {
  padding: 0 4px !important;
  font-size: 12px !important;
  line-height: 14px !important;
}

.pos-sale-management .rdt_TableHeadRow {
  min-height: 25px !important;
  padding: 0 4px !important;
  font-size: 12px !important;
  line-height: 14px !important;
}

.pos-sale-management .ant-dropdown-menu {
  font-size: 12px !important;
  padding: 4px 0 !important;
}

.pos-sale-management .ant-dropdown-menu-item {
  padding: 2px 8px !important;
  line-height: 16px !important;
}
