/* Active (hover) option in page size dropdown */
.ant-select-dropdown :where(.ant-select-item-option.ant-select-item-option-active) {
  background-color: #d9f7be !important; /* light green */
  color: #237804 !important; /* dark green text */
}

/* Selected option in page size dropdown */
.ant-select-dropdown :where(.ant-select-item-option.ant-select-item-option-selected) {
  background-color: #b7eb8f !important; /* brighter green */
  color: #135200 !important; /* darker green text */
  font-weight: 600;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* or same height as your table */
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #FFA500;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.khmer-text {
  font-family: 'Noto Sans Khmer', 'Khmer OS', Arial, sans-serif;
}
