

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* or same height as your table */
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #FFA500;
  border-radius: 50%;
  width: 40px;
  /* height: 40px; */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.khmer-text {
  font-family: 'Noto Sans Khmer', 'Khmer OS', Arial, sans-serif;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 8px 12px; /* reduce vertical spacing */
}

.p-button {
  padding: 4px 8px;
  font-size: 12px;
}
