.supplier-option, .supplier-select, .search-bar, .search-product, .ant-select-item-option-content, .editable-row, .actions{
  font-family: 'Noto Sans Khmer', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
