.pos-modal .ant-modal-body {
  padding: 0;
}

.pos-container {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  max-width: 100mm;
  margin: 0 auto;
  /* background: #000; */
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  width: 30px;
  /* height: auto; */
  margin-bottom: 5px;
}

.company-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
}

.invoice-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

.items-table th {
  text-align: left;
  padding: 3px;
  border-bottom: 1px dashed #ccc;
}

.items-table td {
  padding: 3px;
  border-bottom: 1px dashed #eee;
}

.total-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  /* background: #000; */
  max-width: 100mm; 
   width: 100%;
}

.grand-total {
  font-weight: bold;
  border-top: 1px dashed #000;
  padding-top: 5px;
}

.footer {
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
}

@media print {
  .pos-container {
    width: 100mm !important;
    padding: 5px !important;
  }
  
  .ant-modal-wrap {
    position: static !important;
  }
  
  .ant-modal {
    top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .ant-modal-content {
    box-shadow: none !important;
  }
}